.Form {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 200px;
}
.Form-row {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Form-homeLink {
  padding-top: 100px;
  text-decoration: underline;
  color:royalblue;
}
.Form-text {
  color: white;
  padding-right: 50px;
}