.Info {
    text-align: center;
  }
  
  .Info-image {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Info-title {
    font-size: calc(14px + 2vmin);
    color: white;
    padding-bottom: 30px;
  }

  .Info-para {
    font-size: calc(10px + 1vmin);
    color: white;
  }
  
  